<html>
<head>
<script>
  function user_delete(id){
	  ret=window.confirm("このユーザーを削除しますか?\n");
	  if(ret){
	    window.location.href = './?fn=admin_user_delete&id='+ id;
	  }
  }
</script>
</head>
<body>
  <h1>User edit</h1>
  <form name="form1" method="POST"  action="./">
    <input type="hidden"  value="admin_user_update" name="fn" /><br />
    <input type="hidden"  value="<?php echo $tpl['dat']['id'];  ?>" name="id" />
    &nbsp; email: <?php echo $tpl['dat']['email'];  ?> <br />
    <!--
    password:
    <input type="text"  value="<?php echo $tpl['dat']['passwd'];  ?>" name="passwd" maxlength="12" /><br />
    <br />
	-->
  <br />
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">password</span>
  <input type="text" name="passwd" value="<?php echo $tpl['dat']['passwd'];  ?>"
    maxlength="12"  class="form-control" placeholder="password input" aria-describedby="basic-addon1">
  </div>
  <br />
    <input type="submit" class="btn btn-primary"  value="save" /><br />
  </form>
  <br />
  <hr />
  <a href="#" class="btn btn-default"
   onClick="user_delete(<?php echo $tpl['dat']['id'];  ?>);" > ユーザー削除 </a>
  <br />
  <br />
  <br />
 
</body>
</html>

